@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header3-2 P {
  font-size: 30px;
  color: #94083d;
  text-align: center;
}
#header3-2 H3 {
  font-size: 48px;
  text-align: center;
}
#header4-0 P {
  color: #e2e08c;
  font-size: 36px;
}
#header4-0 SPAN {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-o H3 {
  font-size: 30px;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-p H3 {
  text-align: left;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
